.main-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient-red);
}
.main-icon--rounded {
    border-radius: 50%;
}
.main-icon--square {
    border-radius: 10px;
}
.main-icon--medium {
    width: 70px;
    height: 70px;
}
.main-icon--large {
    width: 78px;
    height: 78px;
}