.action-btn {
    padding: 10px 40px;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.action-btn:hover {
    background-color: var(--accent-hover-color);
}
.action-btn--second {
    background-color: var(--second-color);
}
.action-btn--second:hover {
    background-color: var(--second-hover-color);
}