.products-sort {
  display: flex;
  align-items: center;
  margin-left: 7.5px;
  margin-bottom: 15px;
}
.products-sort__item {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--light-grey);
  padding-bottom: 5px;
  transition: 0.4s;
}
.products-sort__item--active {
  color: var(--dark-grey);
  border-bottom: 1px solid var(--accent-color);
}
.products-sort__item:hover {
  color: var(--dark-grey);
}
.products-sort__item:not(:last-of-type) {
  margin-right: 15px;
}